openapi: 3.0.3
info:
  title: BOSSNYUMBA Maintenance API
  description: Maintenance and work order management API for BOSSNYUMBA platform.
  version: 1.0.0
  contact:
    name: BOSSNYUMBA API Support
    email: api@bossnyumba.com

servers:
  - url: https://api.bossnyumba.com/v1
    description: Production
  - url: https://api.staging.bossnyumba.com/v1
    description: Staging
  - url: http://localhost:4000/api/v1
    description: Local Development

tags:
  - name: Maintenance Requests
    description: Customer-submitted maintenance requests
  - name: Work Orders
    description: Work order management
  - name: Vendors
    description: Vendor management
  - name: Dispatch
    description: Work order dispatch and scheduling

paths:
  /maintenance-requests:
    get:
      tags: [Maintenance Requests]
      summary: List maintenance requests
      operationId: listMaintenanceRequests
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/RequestStatus'
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/Priority'
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/MaintenanceCategory'
        - name: propertyId
          in: query
          schema:
            type: string
            format: uuid
        - name: unitId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paginated maintenance requests
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MaintenanceRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Maintenance Requests]
      summary: Create maintenance request
      operationId: createMaintenanceRequest
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintenanceRequestBody'
      responses:
        '201':
          description: Request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'
        '400':
          $ref: '#/components/responses/ValidationError'

  /maintenance-requests/{requestId}:
    parameters:
      - $ref: '#/components/parameters/RequestIdParam'
    get:
      tags: [Maintenance Requests]
      summary: Get maintenance request details
      operationId: getMaintenanceRequest
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Maintenance Requests]
      summary: Update maintenance request
      operationId: updateMaintenanceRequest
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMaintenanceRequestBody'
      responses:
        '200':
          description: Request updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'

  /maintenance-requests/{requestId}/triage:
    parameters:
      - $ref: '#/components/parameters/RequestIdParam'
    post:
      tags: [Maintenance Requests]
      summary: Triage maintenance request
      operationId: triageMaintenanceRequest
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [priority]
              properties:
                priority:
                  $ref: '#/components/schemas/Priority'
                category:
                  $ref: '#/components/schemas/MaintenanceCategory'
                notes:
                  type: string
                createWorkOrder:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Request triaged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'

  /work-orders:
    get:
      tags: [Work Orders]
      summary: List work orders
      operationId: listWorkOrders
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WorkOrderStatus'
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/Priority'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/WorkOrderType'
        - name: assignedTo
          in: query
          schema:
            type: string
            format: uuid
        - name: vendorId
          in: query
          schema:
            type: string
            format: uuid
        - name: propertyId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paginated work orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkOrder'

    post:
      tags: [Work Orders]
      summary: Create work order
      operationId: createWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkOrderRequest'
      responses:
        '201':
          description: Work order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'

  /work-orders/{workOrderId}:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    get:
      tags: [Work Orders]
      summary: Get work order details
      operationId: getWorkOrder
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Work order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Work Orders]
      summary: Update work order
      operationId: updateWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkOrderRequest'
      responses:
        '200':
          description: Work order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'

  /work-orders/{workOrderId}/assign:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    post:
      tags: [Dispatch]
      summary: Assign work order
      operationId: assignWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignedTo:
                  type: string
                  format: uuid
                  description: Estate manager user ID
                vendorId:
                  type: string
                  format: uuid
                notes:
                  type: string
      responses:
        '200':
          description: Work order assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'

  /work-orders/{workOrderId}/schedule:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    post:
      tags: [Dispatch]
      summary: Schedule work order
      operationId: scheduleWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduledDate]
              properties:
                scheduledDate:
                  type: string
                  format: date-time
                estimatedDuration:
                  type: integer
                  description: Duration in minutes
                notifyCustomer:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Work order scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'

  /work-orders/{workOrderId}/start:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    post:
      tags: [Work Orders]
      summary: Start work order
      operationId: startWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Work order started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'

  /work-orders/{workOrderId}/complete:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    post:
      tags: [Work Orders]
      summary: Complete work order
      operationId: completeWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution:
                  type: string
                actualCost:
                  $ref: '#/components/schemas/Money'
                laborHours:
                  type: number
                partsUsed:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      quantity:
                        type: integer
                      cost:
                        $ref: '#/components/schemas/Money'
                photos:
                  type: array
                  items:
                    type: string
                    format: uri
                customerSignature:
                  type: string
                  description: Base64 encoded signature
      responses:
        '200':
          description: Work order completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'

  /work-orders/{workOrderId}/cancel:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    post:
      tags: [Work Orders]
      summary: Cancel work order
      operationId: cancelWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Work order cancelled

  /work-orders/{workOrderId}/escalate:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    post:
      tags: [Work Orders]
      summary: Escalate work order
      operationId: escalateWorkOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                escalateTo:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Work order escalated

  /work-orders/{workOrderId}/notes:
    parameters:
      - $ref: '#/components/parameters/WorkOrderIdParam'
    get:
      tags: [Work Orders]
      summary: Get work order notes
      operationId: getWorkOrderNotes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Work order notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkOrderNote'

    post:
      tags: [Work Orders]
      summary: Add note to work order
      operationId: addWorkOrderNote
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                isInternal:
                  type: boolean
                  default: false
                attachments:
                  type: array
                  items:
                    type: string
                    format: uri
      responses:
        '201':
          description: Note added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrderNote'

  /vendors:
    get:
      tags: [Vendors]
      summary: List vendors
      operationId: listVendors
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/VendorType'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated vendors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Vendor'

    post:
      tags: [Vendors]
      summary: Create vendor
      operationId: createVendor
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVendorRequest'
      responses:
        '201':
          description: Vendor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'

  /vendors/{vendorId}:
    parameters:
      - name: vendorId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Vendors]
      summary: Get vendor details
      operationId: getVendor
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Vendor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'

    put:
      tags: [Vendors]
      summary: Update vendor
      operationId: updateVendor
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVendorRequest'
      responses:
        '200':
          description: Vendor updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'

  /vendors/{vendorId}/work-orders:
    parameters:
      - name: vendorId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Vendors]
      summary: Get vendor work order history
      operationId: getVendorWorkOrders
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Vendor work orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkOrder'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    RequestIdParam:
      name: requestId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    WorkOrderIdParam:
      name: workOrderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    RequestStatus:
      type: string
      enum: [submitted, triaged, work_order_created, resolved, cancelled]

    WorkOrderStatus:
      type: string
      enum: [open, assigned, scheduled, in_progress, pending_approval, completed, cancelled, escalated]

    WorkOrderType:
      type: string
      enum: [reactive, preventive, inspection]

    Priority:
      type: string
      enum: [low, medium, high, emergency]

    MaintenanceCategory:
      type: string
      enum: [plumbing, electrical, hvac, appliance, structural, pest, landscaping, security, cleaning, other]

    VendorType:
      type: string
      enum: [plumber, electrician, hvac_technician, general_contractor, landscaper, cleaning, pest_control, security, other]

    MaintenanceRequest:
      type: object
      required: [id, tenantId, unitId, reportedBy, category, priority, title, status]
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        reportedBy:
          type: string
          format: uuid
        reporterType:
          type: string
          enum: [customer, manager, owner]
        category:
          $ref: '#/components/schemas/MaintenanceCategory'
        priority:
          $ref: '#/components/schemas/Priority'
        title:
          type: string
        description:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        status:
          $ref: '#/components/schemas/RequestStatus'
        workOrderId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkOrder:
      type: object
      required: [id, tenantId, propertyId, type, priority, status, title]
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        maintenanceRequestId:
          type: string
          format: uuid
        propertyId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        assignedTo:
          type: string
          format: uuid
        vendorId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/WorkOrderType'
        priority:
          $ref: '#/components/schemas/Priority'
        status:
          $ref: '#/components/schemas/WorkOrderStatus'
        title:
          type: string
        description:
          type: string
        scheduledDate:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedDate:
          type: string
          format: date-time
        estimatedCost:
          $ref: '#/components/schemas/Money'
        actualCost:
          $ref: '#/components/schemas/Money'
        resolution:
          type: string
        slaDeadline:
          type: string
          format: date-time
        isOverdue:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkOrderNote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workOrderId:
          type: string
          format: uuid
        authorId:
          type: string
          format: uuid
        authorName:
          type: string
        content:
          type: string
        isInternal:
          type: boolean
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        createdAt:
          type: string
          format: date-time

    Vendor:
      type: object
      required: [id, tenantId, name, type, contactName, email, phone, status]
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        name:
          type: string
        type:
          $ref: '#/components/schemas/VendorType'
        contactName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        taxId:
          type: string
        bankAccount:
          $ref: '#/components/schemas/BankAccount'
        status:
          type: string
          enum: [active, inactive]
        rating:
          type: number
          minimum: 0
          maximum: 5
        completedWorkOrders:
          type: integer
        averageCompletionTime:
          type: number
          description: Average hours to complete
        createdAt:
          type: string
          format: date-time

    Attachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        url:
          type: string
          format: uri
        mimeType:
          type: string
        sizeBytes:
          type: integer

    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string

    BankAccount:
      type: object
      properties:
        bankName:
          type: string
        accountName:
          type: string
        accountNumber:
          type: string
        branchCode:
          type: string

    Money:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: integer
        currency:
          type: string
          pattern: '^[A-Z]{3}$'

    CreateMaintenanceRequestBody:
      type: object
      required: [unitId, category, title, description]
      properties:
        unitId:
          type: string
          format: uuid
        category:
          $ref: '#/components/schemas/MaintenanceCategory'
        priority:
          $ref: '#/components/schemas/Priority'
          default: medium
        title:
          type: string
        description:
          type: string
        attachmentIds:
          type: array
          items:
            type: string
            format: uuid

    UpdateMaintenanceRequestBody:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/MaintenanceCategory'
        priority:
          $ref: '#/components/schemas/Priority'
        title:
          type: string
        description:
          type: string

    CreateWorkOrderRequest:
      type: object
      required: [propertyId, type, priority, title]
      properties:
        maintenanceRequestId:
          type: string
          format: uuid
        propertyId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/WorkOrderType'
        priority:
          $ref: '#/components/schemas/Priority'
        title:
          type: string
        description:
          type: string
        estimatedCost:
          $ref: '#/components/schemas/Money'
        assignedTo:
          type: string
          format: uuid
        vendorId:
          type: string
          format: uuid

    UpdateWorkOrderRequest:
      type: object
      properties:
        priority:
          $ref: '#/components/schemas/Priority'
        title:
          type: string
        description:
          type: string
        estimatedCost:
          $ref: '#/components/schemas/Money'

    CreateVendorRequest:
      type: object
      required: [name, type, contactName, email, phone]
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/VendorType'
        contactName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        taxId:
          type: string
        bankAccount:
          $ref: '#/components/schemas/BankAccount'

    UpdateVendorRequest:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/VendorType'
        contactName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        status:
          type: string
          enum: [active, inactive]

    PaginatedResponse:
      type: object
      properties:
        pagination:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            totalItems:
              type: integer
            totalPages:
              type: integer

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

security:
  - bearerAuth: []
